
    <h1> All articles </h1> 
    
    <table class="table">
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Description</th>
            <th> Action </th>
            <th> Edit</th>
            <th> Delete</th>
            <td> Created at</td>
            <td> Updated at</td>
            </tr>
<% @article.each do |article| %>
    <tr>
    <td><%=article.id %> </td>
     <td> <%=article.title %> </td>
     <td><%= article.description %> </td>
     <td> <%= link_to "See", article_path(article)%> </td>
     <td> <%= link_to "Edit", edit_article_path(article)%></td>
     <td> <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are u sure?"} %> </td>
     <td> <%= article.created_at.strftime("%H:%M, %d/%m/%y") %> </td>
     <td> <%= article.updated_at.strftime("%H:%M, %d/%m/%y") %> </td>
     
     <td>by <%= article.user.username%> </td>
    
    
<% end %> 
<a href="https://firstowntry-protegemoi.c9users.io/articles/new"> <button type="button" class="btn btn-success">New article</button> </a>

</table>